* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a:visited,
a:hover,
a:focus,
a:active {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: transparent;
  text-decoration: none;
}

.container section{
  margin-top: 1em;
}

.icon-box {
  display: flex;
  align-items: center;
}

.icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.icon-box i:hover {
  background-color: #000;
  color: #fff;
}

.hide {
  display: none !important;
}

.search-wrap {
  position: relative;
}

.search-wrap input {
  width: 300px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 25px;
  padding: 0 70px 0 20px;
}

.search-wrap input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.search-wrap button {
  position: absolute;
  right: 0;
  width: 50px;
  height: 35px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  padding: 0 15px;
}

.search-wrap input:focus {
  outline: none;
}

.head-line {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.head-line svg {
  width: 430px;
}

.menus {
  margin-top: 2em;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double #000;
}

.menus button {
  border: none;
  background: none;
  padding: 10px 10px;
}

.menus button:not(:last-child) {
  margin-right: 20px;
}

.menus button:hover,
.menus button.active {
  background-color: #000;
  color: #fff;
}

.news-img-size {
  max-width: 100%;
  max-height: 250px;
}

.news {
  padding: 20px;
  border-bottom: 2px solid #000;
}

.news:last-child {
  margin-bottom: 20px;
}

.col-lg-8 h2 {
  font-weight: 700;
}

.col-lg-8 h2 a {
  color: #000;
  text-decoration: none;
}

.col-lg-8 h2 a:hover {
  text-decoration: underline;
}

.alert-box {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination:visited,
.pagination:active {
  border: none;
  outline: none;
}

.page-item {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
}
.page-item:not(:last-child) {
  margin-right: 10px;
}

.page-link {
  border: none;
  color: #000; 
}

.page-link {
  width: 32px;
  height: 32px;
  padding: 5px 5px;
  border-radius: 50%;
}

/* 링크 클리했던 요소 */
.page-item:visited,
.page-item .page-link:visited,
.page-item .page-link:hover,
.page-item .page-link:active {
  border: none;
  outline: none;
  background: #fff;
}

.page-item:hover,
.page-item:active,
.page-item .page-link:hover,
.page-item.active .page-link {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 50%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1000px 이하일 때 */
@media screen and (max-width: 1000px) {
  .menu-wrap {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 0;
    height: 100vh;
    background-color: #000;
    color: #fff;
    z-index: 999;
    overflow: hidden; /* 내용이 넘치지 않도록 */
    position: fixed; /* 화면에 고정 */
    left: 0; /* 오른쪽에서 슬라이드 */
    top: 0;
    transition: width 0.3s ease; /* 슬라이드 애니메이션 */
  }

  .menus {
    border: none;
  }

  .menu-wrap.show {
    width: 250px;
  }

  .menu-wrap .close-btn.show .fa-xmark:hover{
    background-color: #fff;
    color: #000;
  }

  .menu-wrap .close-btn.show {
    width: 100%;
    display: flex;
    padding: 40px 40px 0 0;
    justify-content: flex-end;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    background: #000;
    border: none;
  }

  .menus button:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .menus button {
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .menus button:hover,
  .menus button.active {
    background-color: #fff;
    color: #000;
  }
}